@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');

body{
    background-color: rgb(233, 233, 233);
    font-family: "google sans", sans-serif;
}

header{
    display:flex;
    align-items: center;
    margin: 20px 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
     background-color: rgb(158, 17, 17);
    border-radius: 35px;
}


#h1header{
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    padding-left: 20px;
}

h2{
    font-family: "google sans" , sans-serif;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    padding-left: 20px;
}

h3{
  font-family: "google sans" , sans-serif;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  color:rgb(255, 255, 255);
  margin: 30px 10px 20px 20px;
}

h4{
  font-family: "google sans" , sans-serif;
  font-size: 30px;
  font-style: italic;
  justify-content: center;
  align-items: center;
  color:rgb(255, 255, 255);
  margin: 30px 10px 20px 20px;
}

h5{
    font-family: "google sans" , sans-serif;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
}

h6{
    font-family: "google sans" , sans-serif;
    font-weight: 200;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
}

.container {
  display: flex; 
  width: 100%;
}

.left-panel {
  flex: 0 0 60%; 
  background-color:rgb(255, 255, 255);
  border-radius: 35px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
  justify-items: center;
  transition: 1s;
  min-height: 100px;
}

.right-panel {
  flex: 0 0 38.25%; 
  background-color:rgb(255, 255, 255);
  border-radius: 35px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
  justify-items: center;
  transition: 1s;
}

.item:hover{
  transition: transform 0.3s ease-out;
  transform: scale(1.01);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527);
}

.containercompra {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
} 

.item{
  flex: 0 0 18.5%;
  background-color:rgb(158, 17, 17);
  border-radius: 35px;
  margin:10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
  justify-items: center;
  transition: 1s;
}

.containercarrinho {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  width: 100%;
} 

.itemcarrinho{
  flex: 0 0 90%;
  background-color:rgb(158, 17, 17);
  border-radius: 35px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom:20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
  justify-items: center;
  transition: 1s;
}

.itemcarrinho:hover{
  transition: transform 0.3s ease-out;
  transform: scale(1.01);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527);
}

img{
  width:31vh;
  height:31vh;
  border-radius: 20px;
  margin: 20px 20px 0px 20px;
  align-items: center;
}


.btncarrinho{
    width: 100%;
    padding: 2px;

    border: none;
    border-radius: 0 0 35px 35px;

    background-color: rgb(255, 255, 255);
    color: rgb(158, 17, 17);

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.btncarrinho:hover{
    background-color: rgb(230, 230, 230);
    transition: transform 0.6 ease-out;
}